.wrap {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100%;
}

.editor,
.viewer {
    flex: 1 0 0%;
    padding: 1rem;
}

.editor {
    border-right: 1px solid #5f6d60;
}

.editor__input {
    outline: none;
    height: 100%;
    width: 100%;
    border: none;
}